@font-face {
    font-family: "Lato";
    src: url("/fonts/Lato-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 900;
}
@font-face {
    font-family: "LatoBold";
    src: url("/fonts/Lato-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 900;
}

* {
    margin: 0;
    padding:0;
}

img {
	max-width: 100%;
	/* width: auto; */
	/* display: block; */
}

.header{
    background: #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 18px ;
    padding-bottom: 19px;

}


.header_user__icons{
    display: flex;
    align-items: center;
    
}


.icon_menu{
    margin-right: 25px;
}
.icon_user{
    margin-right: 42px;
}

.content_logo{
    fill: #F1E4E6;
    background: #F1E4E6;
    display: flex;
    gap:41px;
    flex-direction: row;
    padding:0 calc(50% - 800px)
}
.logo_sign{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:16px;

}
.logo_sign_text{
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
    
    
}

.logo_sign_the_brand{
    color: #222;
    font-family: LatoBold;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.logo_sign_olf{
    color: #222;
    font-family: LatoBold;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.logo_sign_olf_fashion{
    color: #F16D7F;
    font-family: LatoBold;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.center{
    /* margin-left: 230px;
    margin-right: 230px; */
    /* padding:18px 0 19px calc(50% - 1140px/2); */

}

.content_catalog{
    margin-top: 65px;
    display: grid;
    grid-template-areas: "a b c" "d d d";
    row-gap: 30px;
    justify-content: center;
    column-gap: 30px;
}
.pos_text_catalog{
    position: relative;
    text-align: center;
    width: 100%;
    /* filter:brightness(80%); */
}

.catalog_accessories{
    grid-column: 1 / -1;
}

.catalog_accessories .mobile{
    display: none;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(33, 22, 22, 0.70);
}  

.sale_for_item{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.for_item{
    color: #F16D7F;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.content_products{
    margin-top: 96px;
    justify-content: c;
}

.content_products_h3{
    display:flex;
    justify-content: center;
    margin-bottom: 6px;
    color: #222;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }

.content_products_p{
    display:flex;
    justify-content: center;
    margin-bottom: 19px;
    color: #9F9F9F;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content_products_items{
    width: 1110px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    background-color: #f8f8f8;
    margin-left: 20%;
}

.item{
    display: flex;
    flex-direction: column;

}

.item:hover {
    transform: scale(1.1);
}


.selected{
    background-color: #F7E4E2;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    

}

.item .wrapper{
    position:relative;
}

.item_main_description {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 24px;
    padding-bottom: 24px;
    background-color:#F8F8F8;;
}

.products_item_name{
    color: #000;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 16px;
}

.products_item_description{
    color: #5D5D5D;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 16px;

}

.products_item_price{
    color: #F16D7F;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
.btn_BAP{
    display: flex;
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 60px;
}

.btn_browse_all_products {
    font-family: Lato;
    color: #F26376;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: #FFF;
    text-align: center;
    text-decoration: none;
    /* width: 212px;
    height: 48px; */
    padding: 15px 39px;
    border: 2px solid #FF6A6A;
    display: flex;
    align-items: center;
}

.option svg{
    fill: #F16D7F;
}

.options{
	background-color: #222224;
}

.options_container {
	
    padding: 104px 0;
    display: flex;
	justify-content: space-between;
	align-items: center;

}

.option {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 360px;
}

.option h3 {
    font-family: Lato; 
	color: #fbfbfb;
	font-size: 20px;
	font-weight: 400;
	line-height: normal;
	margin: 20px 0 16px;
	text-align: center;
}

.option p{
    max-width: 360px;
    color: #FBFBFB;
    opacity: 0.6;
    text-align: center;
    
    font-family: Lato;
    font-size: 13.972px;
    font-style: normal;
    font-weight: 300;
    line-height: normal; 
}



.subscribe{
    background-image:url("img/grey_layer.png"), url("img/subscribe_background.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
    background-color: rgba(244, 244, 244, 0.7);
    

}
 
.subscribe_container {

	display: flex;
	justify-content: space-between;
	align-items: center;
 
	padding: 90px 0 110px;
}

.left-side {
	max-width: 360px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.subscribe .left-side img {
	max-width: 96px;
}

.subscribe .left-side p {
	font-family: Lato; 
    color: #222224;
	text-align: center;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.right-side {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.right-side h3 {
    font-family: LatoBold;
	color: #222224;
	text-align: center;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	text-align: center;
	margin: 0;
	margin-bottom: 10px;
}

.right-side h4 {
    font-family: Lato; 
	color: #222224;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	text-align: center;
	margin: 0;
	margin-bottom: 30px;
}

.right-side form {
	display: flex;
}

.right-side form input {
	border: none;
	background-color: #e1e1e1;
	padding: 15px;
	max-width: 300px;
	width: 100%;
	border-radius: 30px 0 0 30px;
	color: #222224;
	font-size: 14px;
    font-family: Lato; 
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.right-side form input::placeholder {
	color: #222224;
	font-size: 14px;
    font-family: Lato; 
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.right-side form button {
	border: none;
	background-color: #F16D7F;;
	padding: 15px;
	border-radius: 0 30px 30px 0;
	color: #fff;
	text-align: center;
	font-size: 14px;
    font-family: Lato; 
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.footer {
	background-color: #222224;
	padding: 30px 0;
}

.footer_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.copyright {
	color: #fbfbfb;
    font-family: Lato; 
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.footer_icons {
	display: flex;
	gap: 7px;
}

.footer_icons__icon {
    display:flex;
	width: 31.451px;
    height: 32px; 
    background-color: #FFF;
    justify-content: center;
    align-items: center;
}

.footer_icons__icon:hover{
    background-color: #F16D7F;
    fill:#FFFFFF;
}
.footer_icons__icon:hover svg {
    
    fill:#FFFFFF;
    transition: 0.2s;
    filter:  invert(100%)  brightness(104%) contrast(97%);
}

@media (min-width: 768px) and (max-width: 1024px) { 
    .header_user__icons {
        padding-right: 20px;
    }

    .main_img {
        width: 368px;
        height: 368px;
    }
    .content_logo {
        gap: 0px;
    }

    .logo_sign {
        gap: 0px;
        margin-right: 15%;
    }

    .logo_sign_the_brand {
        font-size: 36px;
    }

    .content_catalog {
        margin: auto;
    }

    .logo_sign_olf{
        font-size: 22px;
    }

    .logo_sign_olf_fashion {
        font-size: 22px;
    }

    .content_products {
        margin-right: 0px;
        margin-top: 0px;
    }

    .content_products_items {
        width:auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 30px;
        background-color: #f8f8f8;
        margin-left: 0px;
        
}

.options_container{
    flex-direction: column;
    gap: 50px;
}
.subscribe_container{
    flex-direction: column;
    gap: 48px;
}

}

@media (min-width: 320px) and (max-width: 767px) {
    
    .header {
        margin: auto;
        width: 320px;
    }

    .main_img {
        display: none;
    }
    
    .content_logo {
        display: flex;
        width: 320px;
        height: 363px;
    }

    .logo_sign_text {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-left: 29px;
        width: 252px;
        height: 48px;
    }

    .logo_sign_the_brand {
        font-size: 25px;
    }

    .logo_sign_olf {
        font-size: 20px;
    }

    .logo_sign_olf_fashion {
        font-size: 20px;
    }

    .content_catalog {
        margin-top: 25px;
        display: grid;
        grid-template-areas: "a";
        row-gap: 30px;
        justify-content: center;
        column-gap: 30px;
        margin-left: auto;
        margin-right: auto;
    }

    .sale_for_item {
        font-size: 10px;
    }

    .content_products {
        margin-top: 0px;
        margin-right: 0%;
        justify-content: c;
    }

    .content_products_items {
        width: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 30px;
        background-color: #f8f8f8;
        margin-left: 0px;
    }

    .btn_BAP {
		margin: 32px auto;
	}

    .options_container{
        flex-direction: column;
		gap: 50px;
    }
    .subscribe_container{
        flex-direction: column;
		gap: 48px;
    }

    .footer_container{
        flex-direction: column-reverse;
        gap: 47px;
    }
}